@{
   Layout = "_Layout"; 
}

<h1>Welcome!</h1>
<h2> Keep track of your machine repairs today!</h2>

<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
